:root{
    --title-fontfamily:"Montserrat", sans-serif;
    --universal-fontfamily:"Poppins", sans-serif;
    --white-color:#fff;
    --light-blue: #377DFF;
    --dark-whiteColor: rgba(255,255,255,0.13) ;
    --light-black:#141D28;
    --dark-blue:#233142;
    --header-bg:#0C1117;
    --gray-color: #5C6F87;
}
*::selection{
    color: red;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    font-family: var(--universal-fontfamily);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    background-color: var(--dark-blue);
}
.container{
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
font-weight: 400;
font-size: 16px;
line-height: 1;
letter-spacing: 0%;
border: 2px solid var(--light-blue);
color: var(--white-color);
background-color: var(--light-blue);
padding: 17px 37px;
border-radius: 35px;
transition: all 0.4s ease;
}

.btn:hover{
border: 2px solid var(--light-blue);
background-color: transparent;
cursor: pointer;
}

.btn:active{
    opacity: 0.6;
}
.btn-active {
    margin-left: 14px;
    background-color: transparent;
    border: 2px solid var(--light-blue);
}

.btn-activ:hover{
    background-color: var(--light-blue);
}

.site-header__top {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--light-black);
}
.site-header__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header__tellNumber {
    color: var(--white-color);
font-weight: 400;
font-size: 15px;
line-height: 2;
letter-spacing: 0%;
transition: all 0.4s ease;
}
.site-header__tellNumber:hover{
    color: var(--light-blue);
    transform: scale(1.2);

}
.site-header__tellNumber:active{
    opacity: 0.6;
}
.site-header__social {
    display: flex;
    align-items: center;
}
.site-header__social-item:not(:last-child) {
    margin-right: 16px;
}
.site-header__social-link svg {
    color: var(--white-color);
    width: 24px;
    height: 24px;
transition: all 0.4s ease;

}
.site-header__social-link svg:hover{
    color: var(--light-blue);
    transform: scale(1.2);
}
.site-header__social-link svg:active{
    opacity: 0.6;
}

/* Header-bottom */

.site-header__bottom {
    background-color: var(--header-bg );
    padding-top: 10px;
    padding-bottom: 10px;
}
.site-header__container {
    display: flex;
    align-items: center;
}
.site-logo{
    display: flex;
    margin-right: auto;
    transition: all 0.4s ease;
}

.site-logo:hover{
    transform: scale(1.1);
}
.site-logo:active{
    opacity: 0.6;
}
.site-header__list {
    display: flex;
    align-items: center;
}
.site-header__item:not(:last-child) {
    margin-right: 62px;

}
.site-header__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 0.99;
    letter-spacing: 0.8px;
    color: var(--white-color);
    padding-bottom: 4px;
    transition: all 0.4s ease;
}

.site-header__link:hover {
border-bottom: 1px solid var(--light-blue);
color: var(--light-blue);
}
.site-header__link:active{
    opacity: 0.6;
}

/* Hero */
.main-content {
}
.hero {
    padding-top: 291px;
    padding-bottom: 310px;
    background-image: url(../images/hero/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero__container {
    display: flex;
    align-items: center;
}
.hero__info {
    max-width: 666px;
    width: 100%;
    margin-right: 20px;
}
.hero__info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}
.hero__info-title3 {
   font-weight: 400;
   font-size: 140px;
   line-height: 1.2;
   letter-spacing: 0%;
   color: rgba(255, 255, 255, 0.13);
   margin-right: 25px;
}
.hero__info-line {
    width: 3px;
    height: 130px;
    background-color: var(--light-blue);
    margin-right: 25px;
}
.hero__info-title {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 50px;
line-height: 2;
letter-spacing: 0%;

}
.hero__info-title span {
    color: var(--light-blue);
}

.hero__info-text{
margin-bottom: 59px;
}

.hero__img{
    position: absolute;
    top: 32px;
    right: 0;
    transition: all 0.4s ease;
}

.hero__bg{
    position: absolute;
    top: 796px;
    left: 0;
}


/* We-works */

.we-work {
    /* padding-top: 100px; */
    padding-bottom: 145px;
    background-color: var(--white-color);
}
.we-work__info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.we-work__line {
    width: 3px;
    height: 54px;
    background-color: var(--light-blue);
    margin-right: 38px;
}
.we-work__title {
    font-family: var(--title-fontfamily);
font-weight: 600;
font-size: 38px;
line-height: 1.2;
letter-spacing: 1px;
text-align: center;
color: var(--light-black);
}
.we-work__title span {
    color: var(--light-blue);
}
.we-work__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.we-work__img {
    width: 180px;
    height: 180px;
    margin-bottom: 16px;
}
.we-work__title3 {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 30px;
line-height: 1;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: var(--light-black);
}


/* Part */

.part {
    padding-top: 145px;
    padding-bottom: 85px;
}
.part__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.part__item {
max-width: 381px;
width: 100%;
display: flex;
justify-content: center;
}
.part__item:nth-child(-n+3){
    margin-bottom: 60px;
}
.part__item-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.part__item-title {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 20px;
line-height: 1.1;
letter-spacing: 0%;
margin-bottom: 18px;
}



/* Our-best */
.our-best {
    padding-top: 150px;
    padding-bottom: 145px;
    background-color: var(--white-color);
}
.our-best__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-best__info {
    color: var(--light-black);
    max-width: 300px;
    width: 100%;
}
.our-best__info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}
.our-best__info-line {
    width: 3px;
    height: 100px;
    background-color: var(--light-blue);
    margin-right: 28px;
    transition: all 0.4s ease;
}
.our-best__info-line:hover{
    transform: scale(1.2);
}
.our-best__info-line:active{
    opacity: 0.6;
}
.our-best__info-wrapper-title {
    font-family: var(--title-fontfamily);
font-weight: 600;
font-size: 40px;
line-height: 1.2;
letter-spacing: 1px;
transition: all 0.4s ease;
}
.our-best__info-wrapper-title:hover{
    color: var(--light-blue);
}
.our-best__info-wrapper-title:active{
    opacity: 0.6;
}
.our-best__info-wrapper-title span{
    color: var(--light-blue);
    transition: all 0.4s ease;
}
.our-best__info-wrapper-title span:hover{
    color: var(--light-black);
}
.our-best__info-wrapper-title span:active{
    opacity: 0.6;
}
.our-best__button {
font-weight: 400;
font-size: 16px;
line-height: 1;
letter-spacing: 0%;
padding: 17px 37px;
background-color: transparent;
border: 2px solid var(--light-blue);
transition: all 0.4s ease;
}

.our-best__button:hover{
    background-color: var(--light-blue);
    color: var(--white-color);
}
.our-best__button:active{
    opacity: 0.6;
}
.our-best__list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.our-best__item:not(:last-child) {
    margin-right: 5px;
}
.our-best__item-img {
    margin-bottom: 35px;
    transition: all 0.4s ease;
}
.our-best__item-img:hover{
    transform: scale(1.1);
}
.our-best__item-img:active{
    opacity: 0.6s;
}
.our-best__title3 {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 26px;
line-height: 1.2;
letter-spacing: 1px;
color: var(--light-black);
margin-bottom: 9px;
}
.our-best__title4 {
font-weight: 400;
font-size: 14px;
line-height: 1.5;
letter-spacing: 2px;
color: var(--gray-color);
}

/* Few reasons */

.few-reason {
    padding-top: 149px;
    padding-bottom: 145px;
    background-image: url(../images/few-reason/few-reasonss-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-color: #F6F6F6;
}
.few-reason__info {
    display: flex;
    align-items: center;
    margin-bottom: 84px;
}
.few-reason__line {
    width: 3px;
    height: 92px;
    background-color: var(--light-blue);
    margin-right: 28px;
}
.few-reason__info-title {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 1px;
color: var(--dark-blue);
transition: all 0.4s ease;
}
.few-reason__info-title span{
    color: var(--light-blue);
    transition: all 0.4s ease   ;
}
.few-reason__info-title:hover{
    color: var(--light-blue);
}
.few-reason__info-title:active{
    opacity: 0.6;
}
.few-reason__info-title span:hover{
    color: var(--dark-blue);
}
.few-reason__info-title span:active{
    opacity: 0.6;
}
.few-reason__item{
    max-width: 567px;
    width: 100%;
}
.few-reason__item:not(:last-child) {
    margin-bottom: 46px;
}
.few-reason__item-title3 {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 44px;
line-height: 0.9;
letter-spacing: 1px;
margin-bottom: 38px;
color: var(--gray-color);
transition: all 0.4s ease;
}
.few-reason__item-title3:hover{
    color: var(--light-blue);
}
.few-reason__item-title3:active{
    opacity: 0.6;
}
.few-reason__item-title5 {
    font-family: var(--title-fontfamily);
font-weight: 400;
font-size: 16px;
line-height: 1.49;
letter-spacing: 1px;
margin-bottom: 28px;
color: var(--dark-blue);
}
.few-reason__item-text {
    color: var(--gray-color);
    transition: all 0.4s ease;
}
.few-reason__item-text:hover{
    color: var(--light-blue);
}
.few-reason__item-text:active{
    opacity: 0.6s;
}


/* Site-img */
.site-img {
    background-color: var(--white-color);
}
.site-img__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-img__img {
    width: 360px;
    height: 360px;
}